<div class="no_session">
	<h2>Login</h2>
	<ul>
		<%= form_tag('/sessions', method: "POST") do %>
			<%= fields_for :user do |ff| %>
				<li>email: <%= ff.email_field(:email) %></li>
				<li>password: <%= ff.password_field(:password) %></li>
				<li><%= ff.submit("log in!") %></li>
			<% end %>
			<%= flash[:alert] if flash[:alert] %>
			<%= flash[:notice] if flash[:notice] %>
			<h3>not signed up yet?</h3>
			<%= link_to(("sign up!"), "/users/new")%>
		<% end %>
	</ul>
</div>
