<div class="no_session">
	<h2>Login</h2>
	<ul>
		<%= form_tag('/sessions', method: "POST") do %>
			<%= fields_for :user do |ff| %>
				<li>email: <%= ff.email_field(:email) %></li>
				<li>password: <%= ff.password_field(:password) %></li>
				<li>confirm: <%= ff.password_field(:password_confirmation) %></li>
				<li><%= ff.submit("log in!") %></li>
			<% end %>
		<% end %>
	</ul>
	<h2>not signed up yet?</h2>
	<%= link_to(("sign up!"), "/users/new")%>
</div>
