<div class="no_session">
	<h2>Sign Up</h2>
	<ul>
		<%= form_for @user do |f| %>
			<li>username: <%= f.text_field :username %></li>
			<li>email: <%= f.email_field :email %></li>
			<li>password: <%= f.password_field :password %></li>
			<li>confirm: <%= f.password_field :password_confirmation %></li>
			<li><%= f.submit "Sign Up" %></li>
		<% end %>
		<h3>need to log in?</h3>
		<%= link_to(("log in!"), "/sessions/new")%>
	</ul>
	<%= flash[:alert] if flash[:alert] %>
	<%= flash[:notice] if flash[:notice] %>
</div>