<div class="content">
	<% if @current_user.id == @user.id %>
		<h2 class="bucket_title">My Bucket</h2>
	<% else %>
		<h2 class="bucket_title"><%= @user.username %>'s Bucket</h2>
	<% end %>
	<h4 class="bucket_location">Location: 
		<%if @user.zipcode != nil %>
			<%= "#{@user.zipcode}" %>
		<% else %>
			<% if @current_user.id == @user.id %>
				<a href="/users/<%= @current_user.id %>/edit">add</a>
			<% else %>
				none
			<% end %>
		<% end %>
	</h4>
	<h2 class="catches_title">Catches</h2>
	<div class="catches">
		<ul class="catches_ul clearfix">
			<% @fishes.each do |fish| %>
					<li class="fish_li fish-<%=fish.id%>">
					<%= render partial: "./fishes/show",
					locals: { fish: fish } %>
					</li>
			<% end %>
		<% if @fishes.count == 0 %>
		<li class="fish_li catch_some">
			<% if @current_user.id == @user.id %>
				Catch some fish! To record a fish, click on the map!
			<% else %>
				No fish caught yet.
			<% end %>
		</li>
		<% end %>
		</ul>
	</div>
</div>
