<ul class="clearfix fish">
	<li><h2><%="#{ fish.fish_type }"%> (<%="#{ fish.number }"%>)</h2></li>
	<li><h3>caught by: <a href="/users/<%="#{fish.user_id}"%>"><%="#{ fish.user.username }"%></a></h3></li>
	<li class="fish_info"><a class="java_fish" href="#" data-lat="<%=fish.lat%>" data-lng="<%=fish.long%>" data-fish_id="<%=fish.id%>">map location</a></li>
	<li class="fish_info">caught: <%="#{ fish.time_caught }"%></li>
	<li class="fish_info">weather: <%="#{ fish.weather }"%></li>
	<li class="fish_info">notes: <%="#{ fish.comments }"%></li>
	<% if @current_user == fish.user %>
		<li class="fish_info"><a href="/fishes/<%="#{ fish.id }"%>/edit">edit fish</a></li>
		<li class="fish_info">
				<%= link_to ("delete fish"), "/fishes/#{ fish.id }", method: :delete %></li>
		<li><div class="fb-share-button" data-href="http://myroe.herokuapp.com/users/<%="#{fish.user_id}"%>?fish_id=<%="#{fish.id}"%>" data-layout="button"></div></li>
		<li>
			<a href="https://twitter.com/share" class="twitter-share-button" data-text="I just caught this fish using MyRoe!" data-count="none">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</li>
	<% end %>
</ul>
