<div class="fish">
	<ul>
		<li><h1><%="#{ fish.fish_type }"%> (<%="#{ fish.number }"%>)<h1></li>
		<li><h2>caught by <a href="/users/<%="#{fish.user_id}"%>"><%="#{ fish.user.username }"%></a><h2></li>
		<li>location: <%="#{ fish.lat }"%>, <%="#{ fish.long }"%></li>
		<li>time: <%="#{ fish.time_caught }"%></li>
		<li>weather: <%="#{ fish.weather }"%></li>
		<li>comments: <%="#{ fish.comments }"%></li>
		<% if @current_user == fish.user %>
			<li><a href="/fishes/<%="#{ fish.id }"%>/edit">Edit Fish</a></li>
		<% end %>
	</ul>
</div>
