<div class="content">
	<h2>New Fish</h2>
	<ul>
		<%= form_for @fish, url: fishes_path, method: :post do |f| %>
		<li> 
			type: <%= f.select :fish_type, 
				[['fish1','fish1'],['fish2','fish2'],['fish3','fish3']]%>
		</li>
		<li>
			number: <%= f.select :number, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13]]%>
		</li>
		<li><%= f.hidden_field :user_id, :value => "#{@current_user.id}" %></li>
		<li><%= f.hidden_field :lat, :value => params[:lat] %></li>
		<li><%= f.hidden_field :long, :value => params[:lng] %></li>
		<li>
			time: <%= f.text_field :time_caught %>
		</li>
		<li>
			weather: <%= f.text_field :weather %>
		</li>
		<li>
			notes: <%= f.text_field :comments %>
			</li>
		<li><%= f.submit "create fish" %></li>
		<% end %> 
	</ul>
</div>


<!-- Crab
Lobster
Blue crab
Atlantic needlefish
Bluefish
Rainbow smelt
American eel
Gizzard shad
Striped bass
White perch

 -->
