<div class="content extra_long">
	<h2>New Fish</h2>
	<ul>
		<%= form_for @fish, url: fishes_path, method: :post do |f| %>
		<li> 
			type: <%= f.select :fish_type, 
				[['Alewife','Alewife'],['American butterfish','American butterfish'],['American eel','American eel'],['American lobster','American lobster'],['American shad','American shad'],['Atlantic herring','Atlantic herrig'],['Atlantic horseshoe crab','Atlantic horseshoe crab'],['Atlantic menhaden','Atlantic menhaden'],['Atlantic needlefish','Atlantic needlefish'],['Atlantic rock crab','Atlantic rock crab'],['Atlantic silverside','Atlantic silverside'],['Atlantic sturgeon','Atlantic sturgeon'],['Black drum','Black drum'],['Blue crab','Blue crab'],['Bluefish','Bluefish'],['Carp','Carp'],['Channel catfish','Channel catfish'],['Ghost crab','Ghost crab'],['Gizzard shad','Gizzard shad'],['Goldfish','Goldfish'],['Lady crab','Lady crab'],['Lined seahorse','Lined seahorse'],['Longfin inshore squid','Longfin inshore squid'],['Mummichog','Mummichog'],['Northern pipefish','Northern pipefish'],['Portly spider crab','Portly spider crab'],['Rainbow smelt','Rainbow smelt'],['Scup','Scup'],['Striped bass','Striped bass'],['Summer flounder','Summer flounder'],['Sand lance','Sand lance'],['Tautog','Tautog'],['Tomcod','Tomcod'],['Weakfish','Weakfish'],['White catfish','White catfish'],['White perch','White perch'],['Winter flounder','Winter flounder'],['Other','Other']]%>
		</li>
		<li>
			number: <%= f.select :number, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,10],[11,11],[12,12],[13,13]]%>
		</li>
		<li><%= f.hidden_field :user_id, :value => "#{@current_user.id}" %></li>
		<li><%= f.hidden_field :lat, :value => params[:lat] %></li>
		<li><%= f.hidden_field :long, :value => params[:lng] %></li>
		<li>
			time: <%= f.text_field :time_caught %>
		</li>
		<li>
			weather: <%= f.text_field :weather %>
		</li>
		<li>
			notes: <%= f.text_field :comments %>
			</li>
		<li><%= f.submit "create fish" %></li>
		<% end %> 
	</ul>
	<%= flash[:alert] if flash[:alert] %>
	<%= flash[:notice] if flash[:notice] %>
	<div class="fish_warning">
	</div>
</div>


<!-- Crab
Lobster
Blue crab
Atlantic needlefish
Bluefish
Rainbow smelt
American eel
Gizzard shad
Striped bass
White perch

 -->
