<!DOCTYPE html>
<html>
<head>
  <title>Myroe</title>
  <link href='http://fonts.googleapis.com/css?family=Muli:400,400italic' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<main class="clearfix">
		<% if @current_user == nil %>
			<div class="map_cover">
			</div>
		<% end %>
		<div id="mapdiv">
		</div>
		<section class="over_map clearfix">
			<% if @current_user %>
				<nav class="top_nav clearfix">
					<ul class="clearfix">
						<li class="bucket_nav"><a href="/users/<%= @current_user.id %>">My Bucket</a></li>
						<li class="settings_nav">Settings</li>
						<li><a href="/sessions/destroy">Logout</a></li>
					</ul>
					<div class="settings_drop content">
						<h2 class="settings_title">Settings</h2>
						<%= form_for @current_user do |f| %>
							<%= f.text_field :username %>
							<%= f.text_field :zipcode, :placeholder => "zipcode" %>
							<%= f.email_field :email %>
							<%= f.password_field :password, :placeholder => "type password here" %>
							<%= f.password_field :password_confirmation, :placeholder => "confirm password" %>
							<br>
							<%= f.submit "update" %>
							<br>
							<button>
								<%= link_to ("delete user"), "/users/#{ @current_user.id }", method: :delete %>
							</button>
							<br>
							<div class="settings_close">CLOSE</div>
						<% end %>
					</div>
				</nav>
			<% end %>
			<%= flash[:alert] if flash[:alert] %>
			<%= flash[:notice] if flash[:notice] %>
			<%= yield %>
		</section>
	</main>
</body>
</html>
