<!DOCTYPE html>
<html>
<head>
  <title>Myroe</title>
  <link href='http://fonts.googleapis.com/css?family=Muli:400,400italic' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<main class="clearfix">
		<% if @current_user == nil %>
			<div class="map_cover">
			</div>
		<% end %>
		<div id="mapdiv">
		</div>
		<section class="over_map clearfix">
			<% if @current_user != nil %>
				<nav class="top_nav clearfix">
					<ul class="nav_ul clearfix">
						<li class="icon"><a href="/users/<%= @current_user.id %>"><img src="/bucket.png" alt="bucket symbol"></a></li>
						<li class="icon"><a href="/users/<%= @current_user.id %>/edit"><img src="/settings.png" alt="gear symbol"></a></li>
						<li class="icon"><a href="/fishadvisory"><img src="/fishicon.png" alt="fish symbol"></a></li>
						<li class="icon"><a href="/csoo"><img src="/biohazardicon.png" alt="biohazard symbol"></a></li>
						<li class="icon"><a href="/sessions/destroy"><img src="/logout.png" alt="power button symbol"></a></li>
					</ul>
				</nav>
			<% end %>
			<%= yield %>
		</section>
		<%if @current_user != nil %>
			<div class="tab_up">
				<img src="/carrotup.png" alt="triangle icon">
			</div>
			<div class="tab_down">
				<img src="/carrot.png" alt="triangle icon">
			</div>
		<% end %>
	</main>
</body>
</html>
